<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activities.RonSinchCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:exported="false" />

        <service
            android:name=".services.RonSinchService"
            android:exported="false" />
    </application>

</manifest>